<nav>
    <div class="site-title">
      <a href="/"><h1>Music Hub for geeks</h1></a>
      <p>A platform for sharing song titles between software developers</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/chart">Top 5 chart</a></li>
      <li><a href="/songs/create">Suggest a song</a></li>
    </ul>
  </nav>