<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form>
      <label for="title">Song title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Artist:</label>
      <input type="text" id="artist" name="artist" required>
      <label for="snippet">Genre:</label>
      <input type="text" id="genre" name="genre" required>
      <label for="snippet">Subgenre:</label>
      <input type="text" id="subgenre" name="subgenre" required>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>